/* importar fuentes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --deep-aqua: hsl(189, 100%, 14%);
    --ocean: hsl(183, 86%, 19%);
    --wave: hsl(187, 30%, 54%);
    --seafoam: hsl(192, 40%, 84%);
    --gradient: linear-gradient(to right, var(--wave), var(--deep-aqua));
    --body-font: 'Open Sans', sans-serif;
    --heading-font: 'Raleway', sans-serif;
    --padding-container: 60px 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--ocean);
}

.hero {
    background-color: var(--deep-aqua);
    position: relative;
}

.hero__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background-color: var(--ocean);
}

.hero__wave::before {
    content: "";
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../images/bg-curvy-mobile.svg");
    background-size: 100% 100px;
}

/*.hero *{
 outline: 1px solid white; 
}*/

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    overflow: hidden;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__logo {
    width: 100px;
}

.nav__img {
    width: 100px;
    display: block;
}

.nav__link {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: .8em;
}

.nav__link:first-of-type {
    margin-left: auto;
}

.hero__main {
    color: white;
    display: grid;
    gap: 1.5em;
    text-align: center;
    position: relative;
}

.hero__img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 700px;
}

.hero__title {
    margin-top: 1.5em;
    font-family: var(--heading-font);
}

.hero__paragraph {
    line-height: 1.5;
    /* margin: 5em 0; */
}

.hero__cta {
    width: 250px;
    padding: 1em 0;
    border-radius: 2em;
    background: var(--gradient);
    color: white;
    font-weight: bold;
    place-self: center;
    font-family: var(--heading-font);
    text-decoration: none;
}

.about {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.about * {
    /*outline: 1px solid #fff;*/
}

.about__img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.about__title {
    margin-top: 1.2em;
    margin-bottom: 1em;
    font-family: var(--heading-font);
}

.productive {
    color: #fff;
    display: grid;
    gap: 3em;
}

.productive__img {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;

}

.productive__title {
    font-family: var(--heading-font);
    margin-bottom: 1.7em;
}

.productive__paragraph {
    line-height: 1.7;
    margin-bottom: 1em;
}


.productive__cta {
    display: inline-block;
    color: var(--gradient);
    line-height: 2.5;
    text-decoration: none;
    border-bottom: 1px solid var(--gradient);
}

.productive__arrow {
    margin-left: .3em;
    vertical-align: middle;
}

.card {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.card__item {
    width: 90%;
    margin: 0 auto;
    padding: 1.5em 1em;
    border-radius: 4px;
    box-shadow: 1px 1px 10px -5px rgb(255, 255, 255, .5);
}

.about__item--first{
    position: relative;
}

.about__item--first::before{
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    background-image: url("../images/cita.png");
    width: 30px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.card__profile {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    gap: .5em;
}

.card__picture {
    width: 40px;
    height: 40px;

}

.card__img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card__name {
    font-size: 1.2rem;
    font-family: var(--heading-font);
}

.card__job {
    color: #aaa9aa;
}